/*
div {
  border: 1px solid black;
}
*/

.dictionary {
  position: absolute;
  width: 500px;
  left: 350px;
  top: 50px;
}

.searchDiv {
  display: flex;
}

.searchBar {
  display: flex;
  justify-content: space-between;
}

.results {
  margin-top: 10px;
}

.grade1Color {
  background-color: #00bd80;
}
.grade2Color {
  background-color: #9d4399;
}
.grade3Color {
  background-color: #e46900;
}
