/*
div {
  border: 1px solid black;
}
*/

:root {
  display: flex;
  justify-content: center;
}
.dictionary {
  margin-top: 50px;
  width: 600px;
}

.searchDiv {
  display: flex;
}

.searchBar {
  display: flex;
  justify-content: space-between;
}

.results {
  margin-top: 10px;
}

.defaultResult {
  font-size: 32px;
  margin-left: 40px;
  margin-top: 40px;
}

.instructions {
  margin-top: 2em;
  font-family: Tahoma, Arial;
}
