/*
div {
  border: 1px solid black;
}
*/

.dictionary {
  position: absolute;
  left: 350px;
  top: 50px;
}

.searchDiv {
  display: flex;
}

.searchBar {
  display: flex;
  justify-content: space-between;
}

.results {
  margin-top: 10px;
}

.resultItem {
  width: 50%;
}

.controls {
  margin-top: 10px;
}
